/* Reset */
*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'PT Sans', sans-serif;
}


   /* ? minore uguale di 480px */



/* Funzioni macrostruttura --------------------------------------------------------- */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-item {
    display: flex;
}








/* dimensioni macrostruttura --------------------------------------------------------- */

.section-header {
    max-width: 480px;
    max-height: 100%;
   align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}



.container-header {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    align-items: center;
   
    
}




.section-full {
    max-width: 480px;
    max-height: 100%;
   align-items: center;
    padding: 15px;
    margin-bottom: 20px;
  }
  


  .container-planning {
  width: 100%;
  }

  

footer {
    max-width: 480px;
    max-height: 100%;
   align-items: center;
    padding: 15px;

  }


.container-standard {
    width: 95%;
    height: 100%;
    justify-content: space-between;
    padding: 20px;
}



.container-benefit {
    width: 95%;
    height: 100%;
    justify-content: space-between;
    padding: 20px;
   
    
}


.container-main {
    width: 95%;
    height: 100%;
    justify-content: space-between;
    padding: 10px;
   
    
}




.container-item {
    width: 30%;
    height: 100%;
    justify-content: center;
}


.container-item-s {
    width: 5%;
    height: 100%;
   align-items: center;
}


.card-main {
    width: 100%;
    height: 100%;
    padding: 20px 20px 0px 20px;
    margin-top: 20px;
    align-items: flex-start;
    margin-bottom: 20px;
   
}

.card-square {
    width: 100%;
    height: 100%;
    padding: 20px;
    line-height: 25px;
    margin-bottom: 20px;
}

.card-vertical {
     width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 55px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.card-benefit {
     width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 55px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.card-planning {
    width: 100%;
   height: 100%;
   padding: 30px 20px 30px 20px;
   border-radius: 55px;
   margin-top: 40px;
   display: flex;
   flex-direction: column;
   align-items: center;
}


.card-landscape {
    width: 80%;
    height: 40%;
}

.logo {
    width: 100%;
    height: 100%;
}

.menu {
    width: 100px;
    height: 100%;

}

.li {
    display: flex;
    color: white;
    list-style: none;

}


.menu-desktop {
    display: none;
}


.item-small {
    width: 30%;
    height: 100%;
}


.item-middle {
    width: 50%;
    height: 100%;
}



.item-big {
    width: 100%;
    height: 100%;
}


.item-hero {
    width: 80%;
    height: 100%;
    margin-left: 30px;
}


.border-radius-max {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
   
}


.no-margin-bottom 
    {
        margin-bottom: 0px;
    }




/* colori --------------------------------------------------------- */

.bg-white {
    background-color: white;
}

.bg-violet {
    background-color: #9792E4;
}

.bg-blue {
    background-color: #0084FD;
}

.bg-skyblue {
    background-color: #B5DDFF;
    border-radius: 20px;
   
}

.bg-darkgrey {
    background-color: #333333;
    margin: 0;
}


.blue {
    color: #0084FD;
}

.skyblue {
    color: #B5DDFF;
}

.violet {
    color: #9792E4;
}

.yellow {
    color: #FDC15E;
}

.grey {
    color: #4D5E6C;
}

.white {
    color: white;
}


.black {
    color: black;
}


/* allineamento contenuti --------------------------------------------------------- */


.j-end {
    justify-content: flex-end;
}


.j-start {
    justify-content: flex-start;
}

.j-center {
    justify-content: center;
}

.j-space {
    justify-content: space-between;
}


.a-end {
    align-items: flex-end;
}

.a-start {
    align-items: flex-start;
}

.a-center {
    align-items: center;
}

.t-center {
    text-align: center;
}

.t-start {
    text-align: start;
}


/* titoli, testi e blocchi --------------------------------------------------------- */


h1 {
    font-size: 27px;
}

h2 {
    font-size: 25px;
    padding: 15px;
}


.text {
    font-size: 15px;
    padding: 5px;
    line-height: 25px;
}


.firm {
    display: block;
    font: 400;
    width: 100%;
    padding: 20px 0px 20px 0px;
}


.cta {
    font-size: 75px;
    font-weight: bold;
} 


.button {
    border: none;
    border-radius: 30px;
    height: 100%;
    width: 100%;
   
}


.button-store {
  
    width: 70%;
    background-color:  #0084FD;
    color: white;
    padding: 15px 20px 15px 20px;
   justify-content: center;
   margin: 40px 0px 40px 20px;

}

.button-more {
    height: 100%;
    width: 40%;
    background-color:  #9792E4;
    color: white;
    padding: 10px 20px 10px 20px;
   justify-content: center;

}

.button-social {
        height: 100%;
    width: 60%;
    background-color:  #9792E4;
    color: white;
    padding: 10px 20px 10px 20px;
   justify-content: center;


}


.button-get {
            height: 100%;
    width: 80%;
    background-color:  white;
    color: #9792E4;
    padding: 20px 40px 20px 40px;
   justify-content: center;

}


.button-down {
    display: flex;
    width: 5%;
    justify-content: center;
    padding: 10px 20px 10px 20px;
    border-radius: 50%;
    margin: 10px 0px 10px 0px;
    border: none;
    
}

.block-small {
    height: 35%;
    width: 100%;
    padding: 20px;
}

.block-middle {
    height: 60%;
    width: 100%;
    padding: 20px;
}

.block-big {
    height: 100%;
    width: 100%;
    padding: 20px 20px 0px 20px;
}



/* ? minore uguale di 768px */



@media screen and (min-width: 480px){

.section-full {
 
    max-width: 768px;
    max-height: 100%;
    padding: 5px;
    margin-bottom: 20px;
    justify-content: space-between;

  }


  .section-header {
    max-width: 768px;
  
   align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}


.container-item-s {
    width: 5%;
    height: 100%;
   align-items: center;
}




.container-header {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    align-items: center;
   
    
}


.container-standard {
  width: 100%;
  

    padding: 20px;
    margin: 10px;
   
}


.c-about {
    flex-direction: row;
}

.container-main {
    width: 100%;

    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0px;
    
}



.container-benefit {
    width: 100%;
    height: 100%;
    justify-content: space-around;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}


.card-main {
    max-width: 65%;
    margin: 0px 0px 0px 10px;
    margin-top: 10px;
    padding: 10px 10px 0px 10px;
    justify-items: baseline;
    
  
}

.card-square {
    max-width: 30%;
    height: 100%;
    justify-content: center;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 85px 10px;
    
   
}

.card-vertical {
    width: 100%;
   height: 100%;
   padding: 30px 20px 30px 20px;
   border-radius: 55px;
   margin-top: 40px;
   display: flex;
   flex-direction: row;
   align-items: center;
}


.card-benefit {
    width: 45%;
   height: 50%;
   padding: 20px 10px 20px 10px;
   border-radius: 35px;
   margin: 10px 5px 10px 5px;
   display: flex;
   flex-direction: column;
   align-items: center;
}






.item-big {
    width: 100%;
    height: 100%;
}


h1 {
    font-size: 65px
}

h2 {
    font-size: 20px
}


.text {
    font-size: 14px;
}


.cta {
    font-size: 75px;
    font-weight: bold;
} 


.block-big {
    height: 100%;
    width: 100%;
   
}

.block-middle {
    height: 100%;
    width: 100%;

}


.border-radius-max {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
   
}

.block-small {
    height: 35%;
    width: 100%;
    padding: 10px;
}

.block-middle {
   
    width: 100%;
    padding: 10px;
}

.block-big {
    height: 100%;
    width: 100%;
    padding: 10px 10px 0px 10px;
}

.item-hero {
    width: 50%;
    height: 100%;
    align-items: flex-start;
}



footer {
    max-width: 768px;
    max-height: 100%;
    align-items: center;
    padding: 15px;

  }

.no-margin-bottom 
    {
        margin-bottom: 0px;
    }

}





/* ? minore uguale di 1400px */



@media screen and (min-width: 768px){

    .section-full {
    max-width: 1400px;
    max-height: 100%;
    padding: 5px 240px 5px 240px;
    margin-bottom: 20px;
    justify-content: space-between;

  }




  .section-header {
    max-width: 1400px;
  max-height: 70px;
    align-items: center;
justify-content: center;
    margin-bottom: 20px;
}


.container-header {
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    align-items: center;
    
}





.logo {
    width: 20%;
    height: 100%;
}

.menu {
    display: none;
}

.li-menu {
    width: 100%;
    display: flex;
    color: white;
    list-style: none;
    margin-left: 10px;
    font-size: 15px;
    

}

.button-menu {
    width: 500px;
    height: 100%;
    display: flex;
    padding: 5px 10px 5px 10px;
    list-style: none;
    margin-left: 10px;
    border-radius: 20px;
    background-color: white;
    font-size: 15px;
    
    
}


.menu-desktop {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    
}


.container-item-logo {
    width: 35%;
    height: 100%;
    justify-items: start;
   
}



.container-item-s {
    width: 55%;
    height: 100%;
   align-items: center;
  

}


.container-header {
    width: 60%;
    height: 100%;
    padding: 10px 0px 10px 0px;
    align-items: center;
    justify-content: space-between;
   
    
}

.container-main {
    width: 90%;
    height: 100%;
    padding: 0;
    margin:0;

}



.container-standard {
  width: 100%;
  height: 100%;
    padding: 20px;
    margin: 10px;
   
}


.container-elements-planning {
  width: 50%;
    padding: 20px;
    margin: 10px;
   
}


  .container-planning {
  width: 100%;
  display: flex;
  flex-direction: row;
  }



  .container-benefit {
    width: 100%;
    height: 100%;
    justify-content: space-around;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}


.card-benefit {
    width: 30%;
   height: 50%;
   padding: 20px 10px 20px 10px;
   border-radius: 35px;
   margin: 10px 5px 10px 5px;
   display: flex;
   flex-direction: column;
   align-items: center;
}





.card-main {
    max-width: 67%;
    height: 100%;
    margin: 0px 0px 0px 0px;
    margin-bottom: 20px;
    padding: 5px 5px 0px 5px;
   align-items: flex-end;
    flex-direction: row;

  
}

.card-square {
    max-width: 30%;
    height: 100%;
    justify-content: center;
    margin: 0px;
    padding: 5px;
    
   
}




.item-hero {
    width: 100%;
    height: 100%;
    margin: 0px;
    
}

.blocco-img-main {

    width: 100%;
    height: 100%;
   
}

.block-small {
    height: 35%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}



.block-middle {
   
    width: 100%;
    padding: 5px;
}


.text {
    font-size: 12px;
}

h2 {
    font-size: 18px;
}


h1 {
    font-size: 22px;
}

.item-big {
    width: 100%;
    height: 100%;
}


footer {
    max-width: 1400px;
    max-height: 100%;
    align-items: center;
    padding: 15px;

  }

.no-margin-bottom 
    {
        margin-bottom: 0px;
    }






    }