/* Reset */
*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}


   /* ? minore uguale di 480px */



/* Funzioni macrostruttura --------------------------------------------------------- */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-item {
    display: flex;
}








/* dimensioni macrostruttura --------------------------------------------------------- */

.section-header {
    max-width: 480px;
    max-height: 100%;
   align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}



.container-header {
    width: 95%;
    height: 100%;
    justify-content: space-between;
    padding: 20px;
   
    
}




.section-full {
    max-width: 480px;
    max-height: 100%;
   align-items: center;
    padding: 15px;
    margin-bottom: 20px;
  }
  


footer {
    max-width: 480px;
    max-height: 100%;
   align-items: center;
    padding: 15px;

  }


.container-standard {
    width: 95%;
    height: 100%;
    justify-content: space-between;
    padding: 20px;
   
    
}


.container-main {
    width: 95%;
    height: 100%;
    justify-content: space-between;
    padding: 20px;
   
    
}




.container-item {
    width: 30%;
    height: 100%;
    justify-content: center;
}


.container-item-s {
    width: 10%;
    height: 100%;
   
}


.card-main {
    width: 100%;
    height: 100%;
    padding: 20px 20px 0px 20px;
    margin-top: 20px;
}

.card-square {
    width: 100%;
    height: 100%;
    padding: 20px;
   
}

.card-vertical {
     width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 55px;
    margin-top: 40px;
}


.card-landscape {
    width: 80%;
    height: 40%;
}

.logo {
      width: 100%;
    height: 100%;
}

.menu {
    width: 100px;
    height: 100%;
    
}

.item-small {
    width: 30%;
    height: 100%;
}


.item-middle {
    width: 50%;
    height: 100%;
}



.item-big {
    width: 100%;
    height: 100%;
}


.border-radius-max {
    border-radius: 50%;
   
}


.no-margin-bottom 
    {
        margin-bottom: 0px;
    }




/* colori --------------------------------------------------------- */

.bg-white {
    background-color: white;
}

.bg-violet {
    background-color: #9792E4;
}

.bg-blue {
    background-color: #0084FD;
}

.bg-skyblue {
    background-color: #B5DDFF;
    border-radius: 20px;
   
}

.bg-darkgrey {
    background-color: #333333;
    margin: 0;
}


.blue {
    color: #0084FD;
}

.skyblue {
    color: #B5DDFF;
}

.violet {
    color: #9792E4;
}

.yellow {
    color: #FDC15E;
}

.grey {
    color: #4D5E6C;
}

.white {
    color: white;
}


.black {
    color: black;
}


/* allineamento contenuti --------------------------------------------------------- */


.j-end {
    justify-content: flex-end;
}


.j-start {
    justify-content: flex-start;
}

.j-center {
    justify-content: center;
}

.j-space {
    justify-content: space-between;
}


.a-end {
    align-items: flex-end;
}

.a-start {
    align-items: flex-start;
}

.a-center {
    align-items: center;
}

.t-center {
    text-align: center;
}

.t-start {
    text-align: start;
}


/* titoli, testi e blocchi --------------------------------------------------------- */


h1 {
    font-size: 27px
}

h2 {
    font-size: 25px
}


.text {
    font-size: 15px;
}


.cta {
    font-size: 75px;
    font-weight: bold;
} 


.button {
    border: none;
    border-radius: 20px;
    height: 100%;
    width: 100%;
   
}


.button-store {
    height: 100%;
    width: 100%;
    background-color:  #0084FD;
    color: white;
    padding: 10px 20px 10px 20px;
   justify-content: center;

}

.button-more {
    height: 100%;
    width: 40%;
    background-color:  #9792E4;
    color: white;
    padding: 10px 20px 10px 20px;
   justify-content: center;

}

.button-social {
        height: 100%;
    width: 60%;
    background-color:  #9792E4;
    color: white;
    padding: 10px 20px 10px 20px;
   justify-content: center;


}


.button-get {
            height: 100%;
    width: 80%;
    background-color:  white;
    color: #9792E4;
    padding: 20px 40px 20px 40px;
   justify-content: center;

}


.block-small {
    height: 35%;
    width: 100%;
    padding: 20px;
}

.block-middle {
    height: 60%;
    width: 100%;
    padding: 20px;
}

.block-big {
    height: 100%;
    width: 100%;
    padding: 20px 20px 0px 20px;
}



/* ? minore uguale di 768px */



@media screen and (min-width: 480px){

.section-full {

    max-width: 768px;
    max-height: 100%;
    padding: 5px;
    margin-bottom: 20px;
    justify-content: space-between;

  }


  .section-header {
    max-width: 768px;
  
   align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}


.container-standard {
  width: 25%;
  

    padding: 0px;
    margin: 10px;
   
}

.container-main {
    width: 100%;

    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0px;
    
   
   
    
}


.card-main {
    max-width: 65%;

    margin-top: 10px;
   
  
}

.card-square {
    max-width: 30%;

    margin: 10px 10px 10px 10px;
    padding: 20px;
    
   
}

.card-vertical {
     width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 55px;
    margin-top: 40px;
}




.item-big {
    width: 60%;
    height: 100%;
}


h1 {
    font-size: 15px
}

h2 {
    font-size: 25px
}


.text {
    font-size: 14px;
}


.cta {
    font-size: 75px;
    font-weight: bold;
} 


.block-big {
    height: 100%;
    width: 100%;
   
}

.block-middle {
    height: 100%;
    width: 100%;

}


  
}
